.button {
  margin-left: 4rem;
}

////// TASKS PAGE //////////

.tasks-container {
  li {
    margin-top: 10px;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .list {
    list-style: none;
    margin: 1rem 0 1rem;
    padding-left: 0;
    color: rgb(0, 0, 0);
  }
  box-sizing: border-box; /* or not */
  border-radius: 25px;
  box-shadow: inset 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.22);
  z-index: 0;
  background: #217ece;
  opacity: 0.9;
  padding: 1rem;
  // background-image: url("/assets/sky.jpeg");

  position: absolute;
  top: 107px;
  right: 200px;
  width: 22rem;
  height: 35rem;

  .output-title {
    position: relative;
    top: -60px;
    left: 20px;
    font-family: "Rock Salt", sans-serif;
    color: rgb(0, 0, 0);
    // text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.7);
    font-size: 18px;
  }
}

.workspace-container {
  box-sizing: border-box; /* or not */
  border-radius: 25px;
  box-shadow: inset 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.22);
  z-index: 0;
  margin: 0 auto;
  background: rgb(147, 171, 211);
  opacity: 0.9;
  padding: 1.5rem;

  float: left;
  position: relative;
  top: 0px;
  left: 70px;
  width: 40rem;
  height: 35rem;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);

  .workspace-title {
    position: relative;
    top: -70px;
    left: 330px;
    font-family: "Rock Salt", sans-serif;
    color: rgb(0, 0, 0);
    // text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.7);
    font-size: 18px;
  }
}

#workspace-toolslist {
  position: relative;
  top: -10px;
  left: 140px;
  font-family: "Roboto", sans-serif;
  color: rgb(233, 232, 244);
  // text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.7);
  font-size: 2px;
}

#calendarlist {
  color: rgb(0, 0, 0);
}

#calendarlist-icon {
  color: rgb(0, 0, 0);
}

#calendarlist-times {
  color: rgb(255, 255, 255);
}
