.button {
  margin-left: 5rem;
}

////// TASKS PAGE //////////

.tasks-container {
  li {
    margin-top: 10px;
    margin-left: -5px;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  .list {
    list-style: none;
    margin-top: 10px !important;
    margin: 1rem 0 1rem;
    padding-left: 0;
    color: rgb(0, 0, 0);
  }
  box-sizing: border-box; /* or not */
  border-radius: 25px;
  box-shadow: inset 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.22);
  z-index: 0;
  background: #63a9e7 !important;
  opacity: 0.9;
  padding: 1rem;

  position: relative;
  top: 107px !important;
  right: 240px !important;
  width: 24rem !important;
  height: 35rem;

  .tasks-container-title {
    position: relative;
    top: -66px !important;
    left: 50px !important;
    font-family: "Rock Salt", sans-serif;
    color: rgb(0, 0, 0);
    // text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.7);
    font-size: 18px;
  }

  .tasks-container-toolslist {
    position: relative;
    top: -43px;
    left: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    // text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.7);
    font-size: 15px;
  }
}

.workspace-container {
  box-sizing: border-box; /* or not */
  border-radius: 25px;
  box-shadow: inset 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.22);
  z-index: 0;
  margin: 0 auto;
  background: rgb(168, 183, 209) !important;
  opacity: 0.9;
  padding: 1.5rem;

  float: left;
  position: relative;
  top: 0px;
  left: 70px;
  width: 50rem !important;
  height: 35rem;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);

  .workspace-title {
    position: relative;
    top: -70px !important;
    left: 210px !important;
    font-family: "Rock Salt", sans-serif;
    color: rgb(0, 0, 0);
    // text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.7);
    font-size: 18px;
  }
}

#workspace-toolslist {
  position: relative;
  top: -10px !important;
  left: 90px !important;
  font-family: "Roboto", sans-serif;
  color: rgb(233, 232, 244);
  // text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.7);
}

#calendarlist-title {
  color: rgb(0, 0, 0);
  margin-right: 4px;
}

#calendarlist-icon {
  margin-left: -35px;
  margin-right: 10px;
  color: rgb(9, 67, 130);
}

#calendarlist-times {
  color: rgb(255, 255, 255);
}

#calendarlist-date {
  font-size: 16px;
  margin-left: -50px;
  color: rgb(0, 0, 0);
}

#copy {
  position: relative;
  top: 10px;
}
