.button {
  margin-left: 5rem;
}

////// TASKS PAGE //////////

.generator-container {
  width: 100vw;
  height: calc(100vh - 600px);
  padding: 0 50px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  justify-items: stretch;

  #tasks-container {
    width: 100%;
    height: 100%;
    li {
      margin-top: 10px;
      margin-left: -5px;
      list-style-type: none;
      color: rgb(0, 0, 0);
      font-size: 14px;
    }
    .list {
      list-style: none;
      margin-top: 10px !important;
      margin: 1rem 0 1rem;
      padding-left: 0;
      color: rgb(0, 0, 0);
    }
    box-sizing: border-box; /* or not */
    border-radius: 25px;
    box-shadow: inset 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.22);
    z-index: 0;
    background: #84bcf4;
    opacity: 0.9;
    padding: 3rem;

    #tasks-container-toolslist {
      font-family: "Roboto", sans-serif;
      color: rgb(50, 49, 49);
      font-size: 15px;
    }
    #quotation {
      font-style: italic;
      color: black;
      top: 10px;
    }
    #author {
      position: relative;
      color: black;
      font-weight: 500;
      top: 10px;
    }
  }

  #tasks-container-title {
    font-family: "Rock Salt", sans-serif;
    color: rgb(110, 125, 172);
    font-size: 18px;
    text-align: center;
  }

  #workspace-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* or not */
    border-radius: 25px;
    box-shadow: inset 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.22);
    z-index: 0;
    margin: 0 auto;
    background: rgb(168, 183, 209);
    opacity: 0.9;
    padding: 3rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  #workspace-title {
    font-family: "Rock Salt", sans-serif;
    color: rgb(110, 125, 172);
    font-size: 18px;
    text-align: center;
  }

  #workspace-toolslist {
    font-family: "Roboto", sans-serif;
    color: rgb(28, 28, 28);
  }

  #calendarlist-title {
    color: rgb(0, 0, 0);
    margin-right: 4px;
  }

  #calendarlist-icon {
    margin-left: -35px;
    margin-right: 10px;
    color: rgb(9, 67, 130);
  }

  #calendarlist-times {
    color: rgb(69, 64, 64) !important;
  }

  #calendarlist-date {
    font-size: 16px;
    margin-left: -50px;
    color: rgb(0, 0, 0);
  }

  #copy {
    position: relative;
    top: 10px;
  }
}
