.nav {
  a[class="active"] {
    background-color: darkorange;
    color: white;
    text-decoration: none;
  }
}

.nav-link-selected {
  text-decoration: none;

  button {
    color: rgb(0, 105, 198);
  }
}

.nav-link {
  text-decoration: none;

  button {
    color: rgb(115, 117, 120);
  }
}

#navitems {
  position: relative;
  top: -10px;
}

#loginid {
  float: right;
  margin-right: 20px;
}

#log-button {
  float: right;
  margin-top: 3px;

  button {
    background-color: rgba(105, 125, 160, 0.399);
  }
}
#userpix {
  position: relative;
  margin-left: 110px;
  top: 5px;
}
