body {
  font-family: "system";
}

html {
  box-sizing: border-box;
}

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

h1 {
  font-size: 1.25rem;
  margin: 1.5rem 0 0.5rem;
}

.font-link {
  font-family: "Qwigley", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
  font-family: "Spartan", sans-serif;
  font-family: "Cinzel Decorative", cursive;
  font-family: "Red Hat Display", sans-serif;
}

header {
  color: rgb(89, 91, 97);
}

/* ////// Interface /////// */
body {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
}

main {
  display: flex;
  content: center;
  justify-content: right;
  margin-top: 1em;
}

body {
  background-position: center;
  background-image: url("/assets/marbles_2000_3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

#biline {
  position: fixed;
  font-family: "Roboto", sans-serif;
  color: rgb(91, 86, 86);
  font-size: 12px;
  top: 1030px;
  right: 20px;
}
