body {
  font-family: "system";
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.25rem;
  margin: 1.5rem 0 0.5rem;
}

.font-link {
  font-family: "Qwigley", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
  font-family: "Spartan", sans-serif;
  font-family: "Cinzel Decorative", cursive;
  font-family: "Red Hat Display", sans-serif;
}

header {
  color: rgb(89, 91, 97);
}

/* ////// Interface /////// */
body {
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(238, 232, 241); */
  /* background-color: rgb(234, 233, 247); */
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  content: center;
  justify-content: right;
  margin-top: 1em;
}

html,
body {
  // overflow-x: hidden;
}
body {
  /* background: rgb(0, 0, 0); */
  /* background-image: url("image.jpeg"); */
  background-position: absolute;
  background-image: url("/assets/marbles_2000.jpeg");
}

#biline {
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 24px;
  top: 970px;
  left: 1200px;
  color: rgb(20, 35, 123);
}

// body {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: 10vw 30vw 10vw;
//   grid-gap: 1em;
// }

// header,
// footer {
//   grid-column: 1 / span 5;
// }

// main {
//   grid-column: 1 / span 3;
// }

// aside {
//   grid-column: span 2;
// }

// @media (max-width: 900px) {
//   main,
//   aside {
//     grid-column: 1 / span 5;
//   }
// }

// /* Demo Specific Styles */
// body {
//   margin: 0 auto;
//   max-width: 56em;
//   padding: 1em 0;
// }

// header,
// main,
// aside,
// footer {
//   background: #eaeaea;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// header,
// footer {
//   height: 10vw;
// }
